[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pytesseract = "*"
pipenv = "*"
install = "*"
opencv-python = "*"
mss = "*"
pillow = "*"
colorama = "*"
flask = "*"
ray = {extras = ["serve"], version = "*"}

[dev-packages]
mypy = "*"
black = "*"
pytest = "*"
ipykernel = "*"
flake8 = "*"
freezegun = "*"
isort = "*"
coverage = "*"
httpx = {extras = ["http2"], version = "*"}
darglint = "*"
types-requests = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "bash dev.sh"
html = "bash html.sh"